.loginContainer {
  max-width: 450px;
  margin: 150px auto;
}

.loginContainer form {
  margin-top: 20px;
}

.loginContainer form span {
  display: block;
  margin-bottom: 5px;
  color: #ff6c00;
}
.loginContainer form input {
  width: 100%;
  padding: 8px 6px;
  margin-bottom: 15px;
}
