.signupContainer {
  max-width: 500px;
  margin: 150px auto;
}

.signupContainer form {
  margin-top: 20px;
}

.signupContainer form span {
  display: block;
  margin-bottom: 5px;
  color: rgb(3, 0, 202);
}
.signupContainer form input {
  width: 100%;
  padding: 8px 6px;
  margin-bottom: 15px;
}
